<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Autorización ingreso de usuarios</h1>
    <form action="/admin">        
      
        <div class="container">
          <label for="uname"><b>Ingrese su nombre de usuario</b></label>
          <input type="text" name="user" required>
          <button type="submit">Enviar</button>
       </div>      
       <ul>
		<li><a href="/">Volver a Home</a></li>
	</ul>
      </form>
</body>
</html>